svg {
	shape-rendering: "crispEdges";
}

.grid {
    fill-opacity: 0;
    stroke: #333;
    stroke-width: 3px;
    stroke-opacity: 1;
}

.hex {
    fill-opacity: 0;
}

.label {
	stroke: none;
	fill: #000;
    fill-opacity: 1;
	font-family: "futura", "helvetica", "arial", "sans-serif";
	font-size: 1.33em;
}

.number {
    fill-opacity: 1;
    stroke-width: 3px;
    stroke: #333;
    stroke-opacity: 1;
}

.score {
    stroke: none;
    fill: #333;
    fill-opacity: 1;
 	font-family: "futura", "helvetica", "arial", "sans-serif";
	font-size: 1.33em;
}